.Footer {
  padding: 1rem;
  text-align: center;
  margin: 50px 0 0 0;
  border-top: 1px solid black;
} 
.flex{
  display: inline-flex;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}
.elcards{
  margin-top: 33px;
}
.Footer .icons a {
  display: block;
  color: black;
  padding: 10px;
}
.Footer .icons li {
  list-style-type: none;
  display: inline-flex;
  padding: 7px;
}
